  /* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Benguiat';
    src: url(Benguiat\ Bold.ttf);
}

/* **************************** */

h2 {
    font: 150px 'Benguiat';
    color: rgb(197, 0, 0);
}

.container  {
    padding: 250px;
    align-items: center;
    text-align: center;
    background-color: rgb(2, 2, 108);

}
 .titulo {
    text-align: center;
    padding: 5px;
    background-color: rgb(0, 0, 137);
    text-shadow: 1vw 1vw 1vw #000, 0 0 3vw #ae0000, 0 0 3vw #9b0101, 0 0 3vw #700000;
}
 

 .entrada {
    background-color:rgb(0, 0, 72);
    padding: 50px;
    color: white;
    font: 30px 'Benguiat';
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    border: 2px solid red;
    margin: 20px;

 }

 #resultado {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
 }

 button {
    font: 30px 'Benguiat';
    margin: 30px;
    padding: 30px;
    border-radius: 4px;
    
 }

 button:hover {
    background-color: rgb(197, 0, 0);
    color: white;
    

 }

 input {
    border-radius: 5px;
 }
